@media screen and (max-width: 340px) {
     
    .img-1{
        width: 244px;
        height: 116px;   
    }
    .txt-2{
        width: 277px;
        font-size: 22px;
    }
    .img-2{
        width: 204px;
        height: 116px; 
    }
    .container{
        margin: 0;
}
    .motivacao{
        margin: 0 17px;
    }
    .img-3{
        width: 300px;
        float: none;
        margin-bottom: -10px;
    }
    .txt-3 {
        padding: 10px 10px;
        height: auto;
        width: 116%;
        text-align: center;
    }
}