* {
    background-image: url(./IMG/papel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.txt-1{
    text-align: center;
}
.img-1{
    width: 444px;
    height: 216px;
    margin: 0 auto;
    background-image: url(./IMG/download.jpg);
    border-radius: 5px;
    border-bottom: 7px solid rgb(112, 110, 110);
    border-right: 7px solid rgb(112, 110, 110);
}
.txt-2{
    margin: 32px auto;
    font-size: 32px;
    width: 477px;
    text-align: center;
}